@model IEnumerable<DockerWebApplication.Models.Resource>
@Html.ActionLink("Create New Resource", "Create", "Resource", null, null) |
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Resource", new { id = item.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "Resource", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
